name: login-mega-manual

on:
  workflow_dispatch:

# IMPORTANT : le workflow appelé a besoin de pousser des commits
permissions:
  contents: write

concurrency:
  group: login-and-schedule
  cancel-in-progress: false

jobs:
  workflow-info:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.getname.outputs.foldername }}
      output2: ${{ steps.getmode.outputs.modename }}
    steps:
      - name: Get folder name from current workflow name
        id: getname
        run: |
          IFS=- read -ra Arr <<< "${{ github.workflow }}"
          folder="${Arr[1]}"
          echo "foldername=$folder" >> "$GITHUB_OUTPUT"

      - name: Is the workflow manually or automatically triggered?
        id: getmode
        run: |
          IFS=- read -ra Arr <<< "${{ github.workflow }}"
          mode="${Arr[2]}"
          echo "modename=$mode" >> "$GITHUB_OUTPUT"

  call-workflow:
    needs: workflow-info
    uses: ./.github/workflows/reusable-autolog.yml
    with:
      folder: ${{ needs.workflow-info.outputs.output1 }}     # ex: "mega"
      mode: ${{ needs.workflow-info.outputs.output2 }}        # ex: "manual"
      platform-name: Mega
      script-path: keep-mega-active.py                        # script confirmé
      target-branch: main                                     # branche par défaut
    secrets:
      WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}           # PAT (scope repo)
      MEGA: ${{ secrets.MEGA }}
